{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!--Meta Tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Mapping Home</title>
    <style>
        h2 {
            padding: 10px;
            text-align:center}

        #Search{
            padding: 10px;
            display: block;
            text-align:center;
        }
        .Documentation{
            padding: 10px;
            display: block;
            text-align: center;
            background: bisque;
            font-size: large;
            width:25%;
            margin: auto;
        }
        .sample{
            padding: 10px;
            display: block;
            text-align: center;
            margin: auto;
            width:25%;
        }
        body{
            background: floralwhite;
        }
        .docheader{
              text-decoration: underline;
        }
        img {
            width: 100%;
            padding: 10px;
            display: block;
            text-align: center;
            margin: auto;
            width:25%;
        }
        .error{
            color: #c40202;
            text-align: center;
        }
        .DrawMap{
        display: block;
        text-align: center;
        }

    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand">Mapping Cities</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>
<div>
    <h2>United Kingdom</h2>
    <h5 class="error">
        {{Error}}
    </h5>
    <form id=Search action="{% url 'search_results' %}" method="get">
        {% csrf_token %}
        <input name="name" type="text" placeholder="Search...">
        <button type="submit" id="searchbtn">Submit</button>
    </form>
    <!-- Documentation box for information regarding the webapp -->
    <div class="Documentation">
        <p>
        <h3 class="docheader">Instructions</h3>
        Welcome to the first working prototype of the map creation kit! Just enter the coordinates you want to map
        in the search bar then click search.
        Make sure coordinates are in the following format <b>latitude1,longitude1,latitude2,longitude2</b> make sure the
        two sets of coordinates are at opposite sides of the rectangle</p>
    </div>
</div>
<!-- Function for copying the pre-defined text field onto the clipboard -->
<script>
function myFunction() {
  /* Get the text field */
  var copyText = document.getElementById("cord");

  /* Select the text field */
  copyText.select();
  copyText.setSelectionRange(0, 99999); /* For mobile devices */

   /* Copy the text inside the text field */
  navigator.clipboard.writeText(copyText.value);

  /* Alert the copied text */
  alert("Copied the sample value : " + copyText.value);
}


</script>
<br>
<!-- Division used to embed the Interactive map to export custom co-ordinates -->
<div class="DrawMap">
    <!DOCTYPE html>
    <html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <title></title>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta name="robots" content="noindex, nofollow">
        <meta name="googlebot" content="noindex, nofollow">
        <meta name="viewport" content="width=device-width, initial-scale=1">


        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>

        <!-- <link rel="stylesheet" type="text/css" href="/css/result-light.css"> -->

        <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css">
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.5.1/leaflet.js"></script>
        <script type="text/javascript"
                src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.js"></script>
        <script type="text/javascript"
                src="https://cdn.jsdelivr.net/npm/leaflet-path-drag@1.0.0-beta.2/src/Path.Drag.js"></script>
        <script type="text/javascript"
                src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-editable/1.2.0/Leaflet.Editable.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.5.1/leaflet.css">
        <link rel="stylesheet" type="text/css"
              href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.css">

        <style id="compiled-css" type="text/css">
          #navigation
    {
       z-index:900;
    }
    img {
      border: 0px 0px 0px 0px;
      padding: 0px 0px 0px 0px;
    }

    #map
    {
       width: 900px;
       height: 500px;
       z-index:0;
       margin:auto;
    }
    table.td#map_table
    {
       border:red;
    }
    #ui-datepicker-div.datepicker
    {
       z-index: 9999999;
    }

        /* EOS */



        </style>

        <script id="insert"></script>


        <!-- <script src="/js/stringify.js?4ad3f7c0046d2bdb23263e3f2718c41551d72fde" charset="utf-8"></script> -->
        <script>
      const customConsole = (w) => {
        const pushToConsole = (payload, type) => {
          w.parent.postMessage({
            console: {
              payload: stringify(payload),
              type:    type
            }
          }, "*")
        }

        w.onerror = (message, url, line, column) => {
          // the line needs to correspond with the editor panel
          // unfortunately this number needs to be altered every time this view is changed
          line = line - 70
          if (line < 0){
            pushToConsole(message, "error")
          } else {
            pushToConsole(`[${line}:${column}] ${message}`, "error")
          }
        }

        let console = (function(systemConsole){
          return {
            log: function(){
              let args = Array.from(arguments)
              pushToConsole(args, "log")
              systemConsole.log.apply(this, args)
            },
            info: function(){
              let args = Array.from(arguments)
              pushToConsole(args, "info")
              systemConsole.info.apply(this, args)
            },
            warn: function(){
              let args = Array.from(arguments)
              pushToConsole(args, "warn")
              systemConsole.warn.apply(this, args)
            },
            error: function(){
              let args = Array.from(arguments)
              pushToConsole(args, "error")
              systemConsole.error.apply(this, args)
            },
            system: function(arg){
              pushToConsole(arg, "system")
            },
            clear: function(){
              systemConsole.clear.apply(this, {})
            },
            time: function(){
              let args = Array.from(arguments)
              systemConsole.time.apply(this, args)
            },
            assert: function(assertion, label){
              if (!assertion){
                pushToConsole(label, "log")
              }

              let args = Array.from(arguments)
              systemConsole.assert.apply(this, args)
            }
          }
        }(window.console))

        window.console = { ...window.console, ...console }

        console.system("Running fiddle")
      }

      if (window.parent){
        customConsole(window)
      }



        </script>
    </head>
    <body class="">
    <body>
      <!-- To display the Co-ordinates obtained from script live into the text boxes -->
    <table class="table table-responsive">
        <tr>
            <td>
                Latitude1 <input type="text" name="North" id="north" value="" size="5"/>
                Longitude1 <input type="text" name="West" id="west" value="" size="5"/>
                Latitude2 <input type="text" name="South" id="south" value="" size="5"/>
                Longitude2 <input type="text" name="East" id="east" value="" size="5"/>&nbsp;
            </td>
        </tr>
        <tr>
            <td>
                <div id="map"></div>
            </td>
        </tr>
    </table>
    </body>
    <script type="text/javascript">//<![CDATA[


var form_coord = ['north','east','south','west'];
//$('.datepicker').datepicker({ dateFormat: 'yy-mm-dd' }).val();
function two_decimal_places(n)
{
   var coordinate = n.toString().match(/^-?\d+(?:\.\d{0,4})?/)[0]
   return coordinate;
}

function remove_coords()
{
   for (var i = 0; i < form_coord.length; i++)
   {
      document.getElementById(form_coord[i]).value = '';
   }
}
//Converting the Co_ordinates to 4 decimal places instead of two for more accuracy after testing
function add_coords(o)
{
   document.getElementById("north").value = two_decimal_places(o._northEast.lat);
   document.getElementById("west").value = two_decimal_places(o._southWest.lng);
   document.getElementById("east").value = two_decimal_places(o._northEast.lng);
   document.getElementById("south").value = two_decimal_places(o._southWest.lat);

}
//Function to Draw a rectangle over the map layer
function drawRectangle()
{
   var lat_lon_array = [];
   var ne = [];
   var sw = [];

   for (var i = 0; i < form_coord.length; i++)
   {
      if(i >1)
      {
         ne.push(two_decimal_places(document.getElementById(form_coord[i]).value))
      }
      else
      {
         sw.push(two_decimal_places(document.getElementById(form_coord[i]).value))
      }
   }
   lat_lon_array.push(sw)
   lat_lon_array.push(ne)
    /*Passing Rectangle Co-ordinates*/
   //var latlngs = document.getElementById("coordPolygon").value;
   var north = two_decimal_places(document.getElementById("north").value);
   var west = two_decimal_places(document.getElementById("west").value);
   var east = two_decimal_places(document.getElementById("east").value);
   var south = two_decimal_places(document.getElementById("south").value);
   var lat_lon = [[north,east],[south,west]];
   //var rectOptions = {color: 'Red', weight: 1}
   //var rectangle = L.rectangle(lat_lon, rectOptions);
   var rectangle = L.rectangle(lat_lon_array);
   //rectangle = L.rectangle(lat_lon);
   rectangle.addTo(map);
}

var ctrl_pos = 'topright';
/*Defining the Starting point on the map generalized to aberdeen*/
var startPoint = [57.14,-2.13];

var tile_date = new Date;
tile_date = tile_date.toISOString().substring(0,10);
/*Setting Zoom Scale to 10*/
var map = L.map('map', {editable: true}).setView(startPoint, 11),
    tilelayer =
    L.tileLayer('https://{s}.tile.openstreetmap.fr/hot/{z}/{x}/{y}.png',
    //L.tileLayer('//gibs-{s}.earthdata.nasa.gov/wmts/epsg4326/best/MODIS_Terra_CorrectedReflectance_TrueColor/default/'+tile_date+'/EPSG4326_250m/{z}/{y}/{x}.jpg',
    {
    noWrap: true,
      maxZoom: 20, attribution: 'Data \u00a9 <a href="https://www.openstreetmap.org/copyright"> OpenStreetMap Contributors </a>'
    }).addTo(map);
    /*Map Controls Buttons*/
    L.EditControl = L.Control.extend({

        options: {
            position: 'topleft',
            callback: null,
            kind: '',
            html: ''
        }, /* Layering control */
        onAdd: function (map) {
            var container = L.DomUtil.create('div', 'leaflet-control leaflet-bar'),
                link = L.DomUtil.create('a', 'custom_class_'+this.options.kind, container);

            link.href = '#';

            link.title = 'Create a new ' + this.options.kind;

            link.innerHTML = this.options.html;
            L.DomEvent.on(link, 'click', L.DomEvent.stop)
                      .on(link, 'click', function () {
                        window.LAYER = this.options.callback.call(map.editTools);
                      }, this);
            return container;
        }

    });

    L.NewRectangleControl = L.EditControl.extend({

        options: {
            position: 'topleft',
            callback: map.editTools.startRectangle,
            kind: 'rectangle',
            html: '⬛ '
        }

    });

   map.addControl(new L.NewRectangleControl());

   map.on('editable:drawing:move', function (e) {
      remove_coords();
      add_coords(e.layer._bounds);

   });

    map.on('editable:drawing:end', function(e)
    {
      $("a.custom_class_rectangle").on("click", function() {
         map.removeLayer(e.layer);
       remove_coords();
      });
      add_coords(e.layer._bounds);
    });

   map.on("editable:dragend", function (e) {
      remove_coords();
      add_coords(e.layer._bounds);
   });


  //]]>


    </script>

    <script>
    // tell the embed parent frame the height of the content
    if (window.parent && window.parent.parent){
      window.parent.parent.postMessage(["resultsFrame", {
        height: document.body.getBoundingClientRect().height,
        slug: ""
      }], "*")
    }

    // always overwrite window.name, in case users try to set it manually
    window.name = "result"



    </script>

    <script>
      let allLines = []

      window.addEventListener("message", (message) => {
        if (message.data.console){
          let insert = document.querySelector("#insert")
          allLines.push(message.data.console.payload)
          insert.innerHTML = allLines.join(";\r")

          let result = eval.call(null, message.data.console.payload)
          if (result !== undefined){
            console.log(result)
          }
        }
      })
    </script>

    </body>
    </html>
</div>
<!-- Sample button with copy option for ability to quickly access the data, customizable co-ordinates according to need -->
<div class="sample">
    <input type="text" value="57.1530,-2.0992,57.1448,-2.0852" id="cord" readonly>
    <button onclick="myFunction()">Copy</button>
    <br/>
    <a href="https://www.openstreetmap.org/export#map=16/57.1489/-2.0895"
       onclick="window.open('https://www.openstreetmap.org/export#map=16/57.1489/-2.0895',
                         'newwindow',
                         'width=1250,height=750');
              return false;"
    >Export Custom Co-ordinates</a>
    <br/>
</div>
<!-- Sample Map Box with Aberdeen PlaceMarker -->
<p align="center">
    <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
            src="https://www.openstreetmap.org/export/embed.html?bbox=-2.0991826057434086%2C57.144819850526126%2C-2.085192203521729%2C57.15299104414323&amp;layer=mapnik&amp;marker=57.1489056729221%2C-2.0921874046325684"
            style="border: 1px solid black"></iframe>
</p>
<br/>
<!-- Example static image shown on output screen. -->
<img src="{% static 'Example.jpg' %}" alt="Image" style="width:425px;height:350px;border: 1px solid black">
<!-- Defining Iframe features to allow the embed to function -->
<iframe name="result"
        allow="midi; geolocation; microphone; camera; display-capture; encrypted-media; clipboard-read; clipboard-write; notifications; payment-handler; persistent-storage; background-sync; ambient-light-sensor; accessibility-events;"
        sandbox="allow-modals allow-forms allow-scripts allow-same-origin allow-popups allow-top-navigation-by-user-activation allow-downloads"
        allowfullscreen="" allowpaymentrequest="" frameborder="1" width="560" height="315">
</iframe>

<!-- Footer -->
<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <span class="text-muted">Mapping Cities In Python.</span>
        <span class="text-center text-muted">Group 14 Project</span>
    </footer>
</div>
</body>
</html>
